@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:900,400,600,300,800,500,700|Caveat:700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/64e8d4ed7704051b825b4deb.64e8d4ee7704051b825b4dee.OQ1DQCV.hcp.png");

* {
  margin: 0;
  padding: 0;
}

.NavbarContainer {
  width: 100%;
  height: 10vh;
  background-color: rgb(244 249 252);
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavbarBox {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Navlogo {
  width: auto;
}
.Navlogo img {
  width: 50%;
}

.NavLinks {
  width: auto;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  font-family: "Inter", sans-serif;
}

@media (max-width: 769px) {
  .NavLinks {
    display: none;
  }
}
.NavLinks ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.NavLinks ul li {
  display: block;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(77, 82, 86);
  font-weight: 600;
}
.NavLinks ul li:hover > ul {
  display: block;
  display: flex;
  position: absolute;
  left: 0;
  flex-wrap: wrap;
  width: 90%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  justify-items: start;
  gap: 0;
  transition: all ease-in-out 0.5s;
  top: 40px;
}
.NavLinks ul li ul {
  display: none;
  padding-bottom: 100px;
  padding-left: 20px;
  transition: all ease-in-out 0.5s;
}

.NavLinks ul li ul div li {
  display: flex;
  column-gap: 10px;
  align-items: flex-start;
  margin-left: 16px;
  margin-top: 50px;
  cursor: default;
}
.NavLinks ul li ul li:hover {
  color: rgb(77, 82, 86);
}

.NavLinks ul li:hover {
  color: #1bbcff;
}
.NavLinks ul li span i {
  width: 100%;
  height: 2vh;
}

.NavLinks ul li:hover span i {
  transform: rotate(-180deg);
  transform-origin: center center;
  transition: all ease-in-out 0.3s;
  color: #1bbcff;
}

#pricing {
  text-decoration: none;
  font-size: "Inter", Helvetica;
  font-weight: 700;
  color: rgb(77, 82, 86);
}
#pricing:hover {
  color: #1bbcff;
}

.ExternalDiv {
  background-color: white;
  top: 10px;
  display: block;
  display: flex;
  position: absolute;
  left: 0;
  flex-wrap: wrap;
  width: 100%;
  justify-items: start;
  transition: all ease-in-out 0.5s;
  padding-left: 20px;
  margin-left: 7.3%;
  border: 1px solid rgba(77, 82, 86, 0.3);
  border-radius: 7px;
  border-right: 1px solid rgba(77, 82, 86, 0.1);
  padding-bottom: 80px;
  align-items: flex-start;
  cursor: default;
}

.DeepNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.DeepNav p {
  font-weight: 300;
}

.Navbtn {
  width: 150px;
  height: 40px;
  background-color: #1cbcff;
  color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 8px #001c3826;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: "Inter", Helvetica;
  cursor: pointer;
}

.Navbtn a {
  text-decoration: none;
  color: white;
}

.Navbtn:hover {
  background-color: #11adef;
}

.MenuBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 19px;
  padding: 12px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.menutoggle {
  font-size: 30px;
  width: 0%;
  display: none;
}

@media screen and (max-width: 769px) {
  .menutoggle {
    display: block;
  }

  .ExtentedSidebar.active {
    left: 0;
  }

  .ExtentedSidebar.active > .HomeContainer {
    display: none;
  }

  /* .ExtentedSidebar.active > .HomeContainer{
    display: none;
  } */

  #closebtn i {
    float: right;
    margin-right: 16px;
    font-size: 30px;
  }

  .ExtentedSidebar {
    display: none;
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: fixed;
    z-index: 999;
    left: -150%;
    top: -1%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    background-color: #fff;
    font-family: "Inter", sans-serif;
  }

  .Navbtn {
    width: 100%;
    height: 40px;
    background-color: #1cbcff;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 8px #001c3826;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: "Inter", Helvetica;
    cursor: pointer;
    margin-top: 40px;
  }

  .Navbtn a {
    text-decoration: none;
    color: white;
  }

  .Navbtn:hover {
    background-color: #11adef;
  }
}

.ExtentedSidebar {
  display: none;
}

.ExtentedSidebar.active {
  display: block;
}

/* @media (min-width: 769px) {
  .ExtentedSidebar {
    display: none;
  }
} */
.ExtentedSidebar h2 {
  font-weight: 900;
  padding-top: 50px;
  color: rgb(29, 46, 59);
}
.ExtentedSidebar h2 a {
  text-decoration: none;
  color: rgb(29, 46, 59);
}

.ExtentedSidebar ul {
  list-style: none;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-top: 40px;
  margin-left: 1.5rem;
}

.ExtentedSidebar ul li a {
  text-decoration: none;
  color: rgb(29, 46, 59);
}

.HomeContainer {
  width: 100%;
  height: 200vh;
  background-color: rgb(244 249 252);
}

.Main {
  width: 100%;
}

.Main1 {
  background-image: url(./assets/img/svg3.svg);
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 97%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.Main1 h3 {
  text-align: center;
  font-family: "Caveat", handwriting;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 2.25rem;
  color: rgb(29, 46, 59);
}
.Main1 h1 {
  font-family: "Inter", sans-serif;
  line-height: 110%;
  font-size: 5.7rem;
  font-weight: 900;
  color: rgb(29, 46, 59);
  width: 100%;
}
.Main1 h4 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 160%;
  font-size: 2.1rem;
  color: rgb(29, 46, 59);
  text-align: center;
  width: 75%;
  margin-top: 10px;
}

.Main1 span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 0.875rem;
  color: rgb(96, 96, 107);
  padding-top: 10px;
  padding-bottom: 10px;
}

.Button1 {
  background-color: rgb(28, 188, 255);
  border-color: rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 25px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 16px 2px rgba(0, 44, 122, 0.2);
}

.Button1 a {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
}

.Button1:hover {
  background-color: #11adef;
}

.Main11 {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Main11 span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 1.1875rem;
  color: rgb(29, 46, 59);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Main11 span i {
  color: rgb(28, 188, 255);
  margin-right: 7px;
}

.Main2 {
  width: 100%;
  height: 100vh;
}
.Main21 {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(28, 188, 255);
  width: 90.2%;
  margin-left: 5.5%;
}

.Main21 span {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 120%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.Main21 span i {
  font-size: 22px;
}

.Main22 {
  border-style: solid;
  border-width: 20px;
  border-color: rgb(255, 255, 255);
  margin-top: 0px;
  box-shadow: 0px 0px 20px 0px rgba(0, 28, 56, 0.2);
  background: rgb(255, 255, 255);
  width: 87%;
  margin-left: 5.5%;
}

.Main221 p {
  height: 79vh;
  width: 100%;
  margin-left: 0%;
  background-color: #ffffff;
  display: flex;
  /* background-image: url(./assets/img/10.png); */
}

.Main221 p img {
  width: 100%;
}

.Main222 {
  width: 87%;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  padding-top: 30px;
  gap: 1em;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 44, 122, 0.08);
  background: #ffffff;
  padding-bottom: 30px;
  margin-left: 5.5%;
  margin-top: -1%;
  z-index: 1;
  position: absolute;
}

.Main2221 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 12px;
  color: rgb(29, 46, 59);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 1rem;
}

.Main2221 h2 {
  width: 30%;
  text-align: center;
}

.Main3 {
  width: 100%;
  height: 150vh;
  padding-bottom: 80px;
  padding-top: 0px;
  background: linear-gradient(
    90deg,
    rgb(244, 249, 252) 49%,
    rgb(224, 236, 251) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main31 {
  z-index: 1;
  padding-top: 150px;
  padding-bottom: 20px;
  width: 45%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Main31 img {
  width: 180px;
  padding-bottom: 0px;
  gap: 0.375em;
}

.Main31 h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: -0.05rem;
  line-height: 120%;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(29, 46, 59);
  padding-top: 10px;
}

.Main31 h3 {
  text-align: center;
  color: rgb(29, 46, 59);
  font-family: "Caveat", handwriting;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 2.25rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Main32 {
  width: 88%;
  padding-top: 40px;
  gap: 1.875em;
  padding-bottom: 0px;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
}

.Main321 {
  width: 33%;
  padding-top: 0px;
  border-radius: 8px;
  gap: 0px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 0px 40px 0px rgba(0, 44, 122, 0.13);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 35vh;
}

.Main321 img {
  margin-top: -40px;
  width: 150px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(48, 60, 94, 0.29);
  border: none;
}
.Main321 p {
  color: rgb(29, 46, 59);
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 150%;
  text-align: center;
  padding-top: 20px;
  width: 80%;
}

.Main33 {
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Button11 {
  background-color: rgb(28, 188, 255);
  border-color: rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 25px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 16px 2px rgba(0, 44, 122, 0.2);
}

.Button11 a {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
}

.Button11:hover {
  background-color: #11adef;
}

.Main33 span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 190%;
  font-size: 0.875rem;
  color: rgb(96, 96, 107);
  padding-top: 10px;
  padding-bottom: 10px;
}

.Main34 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  padding-top: 30px;
}

.Main34 img {
  width: 300px;
}

.Main34 span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 0.875rem;
  color: rgb(29, 46, 59);
}

.Main34 p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 0.875rem;
  color: rgb(29, 46, 59);
}

.Main4 {
  padding-bottom: 40px;
  padding-top: 80px;
  background-position: left top !important;
  background: linear-gradient(
    180deg,
    rgb(224, 236, 251) 0%,
    rgb(244, 249, 252) 100%
  );
}

.Main41 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  width: 82%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 9%;
}

.Main411 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.Main411 h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: -0.05rem;
  line-height: 120%;
  font-size: 2.4rem;
  text-align: left;
  color: rgb(29, 46, 59);
  width: 100%;
}

.Main411 p {
  color: rgb(77, 82, 86);
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  text-align: left;
}

.Main411 p span {
  color: rgb(29, 46, 59);
  font-weight: 700;
}

.Main411 span {
  color: rgb(29, 46, 59);
  font-weight: 700;
  font-size: 1.125rem;
  font-family: "Inter", sans-serif;
}

.Main421 img {
  object-fit: fill;
  width: 519px px;
}

.Main5 {
  padding-bottom: 80px;
  padding-top: 0px;
  background: rgb(244, 249, 252);
}

.Main51 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.Main51 h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: -0.05rem;
  line-height: 120%;
  font-size: 3rem;
  text-align: center;
  color: rgb(29, 46, 59);
  width: 28%;
}

.Main51 p {
  color: rgb(77, 82, 86);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  text-align: center;
  width: 50%;
}

.Main52 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.Main53 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.Main53 h3 {
  text-align: center;
  color: rgb(29, 46, 59);
  font-family: "Caveat", handwriting;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 2.25rem;
}

.Main53 h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: -0.05rem;
  line-height: 120%;
  font-size: 2rem;
  text-align: center;
  color: rgb(29, 46, 59);
}

.Button12 {
  background-color: rgb(28, 188, 255);
  border-color: rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 25px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 16px 2px rgba(0, 44, 122, 0.2);
}

.Button12 a {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
}

.Button12:hover {
  background-color: #11adef;
}

.Main53 span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 0.875rem;
  color: rgb(96, 96, 107);
  padding-top: 10px;
  padding-bottom: 10px;
}

.Main6 {
  padding-top: 50px;
  padding-bottom: 150px;
  background: linear-gradient(
    180deg,
    rgb(224, 236, 251) 0%,
    rgb(244, 249, 252) 100%
  );
}

.Main61 {
  display: flex;
  width: 90%;
  margin-left: 5%;
  align-items: center;
  gap: 5em;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.Main611 img {
  object-fit: fill;
  border-radius: 8px;
  width: 519px;
}

.Main612 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.Main612 h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: -0.05rem;
  line-height: 120%;
  font-size: 2.5rem;
  text-align: left;
  color: rgb(29, 46, 59);
  width: 100%;
}

.Main612 p {
  color: rgb(77, 82, 86);
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  text-align: left;
}

.Main612 p span {
  color: rgb(29, 46, 59);
  font-weight: 600;
}

.Main7 {
  padding-top: 10px;
  padding-bottom: 30px;
  background: rgb(244, 249, 252);
}

.Main71 {
  display: flex;
  gap: 5em;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 8px;
  padding-left: 60px;
  padding-right: 60px;
  box-shadow: 0px 0px 30px 0px rgba(0, 44, 122, 0.13);
  background: #ffffff;
  width: 80%;
  margin-left: 6%;
}

.Main711 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.Main711 img {
  object-fit: fill;
  width: 490px;
}

.Main7111 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Main7111 a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 0.875rem;
  text-decoration: underline rgb(96, 96, 107);
  color: rgb(28, 188, 255);
}

.Main7111 a:hover {
  text-decoration: underline rgb(28, 188, 255);
}

.Main7111 a i {
  margin-top: 2%;
}

.Main7111 span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 0.875rem;
  color: rgb(96, 96, 107);
  padding-top: 10px;
  padding-bottom: 10px;
}

.Button2 {
  background-color: rgb(28, 188, 255);
  border-color: rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 25px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 16px 2px rgba(0, 44, 122, 0.2);
}
.Button2 a {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
  text-decoration: none;
}

.Button2:hover {
  background-color: #11adef;
}

.Main712 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}
.Main712 h2 {
  color: rgb(28, 188, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  text-align: left;
}

.Main712 h1 {
  color: rgb(29, 46, 59);
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -0.05rem;
  line-height: 120%;
  text-align: left;
}

.Main712 p {
  color: rgb(77, 82, 86);
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  text-align: left;
}

.Main712 span {
  color: rgb(29, 46, 59);
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 150%;
  text-align: left;
}

.Main712 ul {
  color: rgb(77, 82, 86);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.Main712 ul li {
  display: flex;
  align-items: flex-start;
}
.Main712 ul li i {
  color: rgb(28, 188, 255);
  width: 5%;
  height: 40%;
  margin-top: 1%;
}

.Main8 {
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(
    90deg,
    rgb(224, 236, 251) 9%,
    rgb(244, 249, 252) 66%
  );
}

.Main8 h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -0.05rem;
  line-height: 120%;
  font-size: 1.125rem;
  text-align: center;
  color: rgb(29, 46, 59);
}

.Main81 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.Main81 img {
  height: 100px;
  width: auto;
}

.Main9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgb(255, 255, 255);
  border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

.Main9 h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: -0.05rem;
  line-height: 120%;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(29, 46, 59);
}

.accordion {
  width: 100%;
  padding-top: 30px;
}

.accordion-item {
  width: 1170px;
}

.accordion-header {
  padding: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 120%;
  font-size: 1.25rem;
  color: rgb(29, 46, 59);
}
.accordion-header:hover {
  background-color: #f4f9fc;
  border-color: #f4f9fc;
}

.accordion-content {
  display: none;
  width: 95%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(232, 238, 240);
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  padding: 10px 30px 20px 30px;
}

.accordion-content p {
  text-align: left;
  color: rgb(77, 82, 86);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  font-size: 1rem;
}

.accordion-content.active {
  display: block;
}

.FooterContainer {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FooterBox {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  row-gap: 10px;
}

.FooterBox img {
  width: 84%;
  height: 5.2vh;
}

@media screen and (max-width: 426px) {
  .FooterBox {
    width: 60%;
    text-align: center;
  }
}

.FooterBox p {
  text-align: left;
  color: rgb(77, 82, 86);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  font-size: 0.8125rem;
}

#zoom {
  text-align: left;
  color: rgb(47, 47, 47);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  font-size: 0.8125rem;
}

.FooterBox a:hover {
  text-decoration: underline;
}
