@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:900,400,600,300,800,500,700|Caveat:700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/64e8d4ed7704051b825b4deb.64e8d4ee7704051b825b4dee.OQ1DQCV.hcp.png");

@media screen and (width: 2560px) {
  .NavbarBox {
    width: 1170px;
  }

  .Main1 {
    background-repeat: no-repeat;
    width: 1170px;
    padding-left: 26%;
    height: 40vh;
  }

  .Main2 {
    width: 1170px;
    height: 65vh;
  }

  .Main21 {
    margin-left: 55.5%;
    border-left: 76px solid #1bbcff;
    border-right: 76px solid #1bbcff;
  }

  .Main22 {
    margin-left: 55.5%;
    width: 100%;
  }

  .Main221 p {
    height: 55vh;
  }

  .Main222 {
    width: 1170px;
    margin-left: 25.3%;
    padding-left: 22px;
  }

  .Main32 {
    width: 1170px;
  }

  .Main321 {
    height: 18vh;
  }

  .Main3 {
    height: 70vh;
  }

  .Main41 {
    width: 1170px;
    margin-left: 27%;
  }

  .Main61 {
    width: 1170px;
    margin-left: 27%;
  }

  .Main71 {
    width: 1170px;
    margin-left: 27%;
  }

  .Main81 {
    padding-left: 45px;
    gap: 140px;
    width: 98%;
  }
}

@media screen and (max-width: 1025px) and (min-width: 770px) {
  .HomeContainer {
    width: 1061px;
    height: 240vh;
  }

  .NavbarBox {
    width: 95%;
    padding-left: 33px;
  }

  .NavbarContainer {
    width: 1061px;
  }

  .Main1 {
    height: 110vh;
    width: 1031px;
    background-repeat: no-repeat;
  }

  .Main1 h1 {
    width: 98%;
  }

  .Main1 h4 {
    width: 85%;
  }

  .Main11 {
    display: flex;
    gap: 4.5em;
  }

  .Main11 span {
    display: flex;
    width: 25%;
    align-items: baseline;
    word-spacing: 0px;
    letter-spacing: 0px;
  }

  .Main222 {
    width: 90.3%;
  }

  .Main2221 {
    width: 33%;
  }

  .Main2221 h2 {
    width: 34%;
  }

  .Main3 {
    height: 160vh;
  }

  .Main321 p {
    width: 100%;
  }

  .Main712 ul li {
    display: flex;
    gap: 15px;
  }

  .Main81 {
    display: flex;
    gap: 17px;
  }

  .accordion {
    width: 1000px;
  }

  .accordion-header {
    width: 950px;
  }

  .accordion-item {
    width: 100px;
  }
}

@media screen and (max-width: 769px) {
  .HomeContainer {
    width: 776px;
  }

  .NavbarContainer {
    width: 776px;
  }

  .Main1 {
    width: 96%;
    height: 70vh;
    gap: 70px;
    display: flex;
    flex-direction: column;
  }

  .Main1 h1 {
    font-size: 2.3rem;
  }

  .Main1 h4 {
    width: 98%;
    font-size: 33px;
  }

  .Button1 {
    margin-top: 62%;
  }

  .Main1 span {
    margin-top: -33px;
  }

  .Main11 {
    display: none;
  }

  .Main2 {
    width: 738px;
    height: 35vh;
  }

  .Main22 {
    width: 83.6%;
    position: absolute;
  }

  .Main21 {
    width: 92.6;
  }

  .Main221 p {
    height: 60vh;
  }

  .Main222 {
    display: none;
  }

  .Main3 {
    width: 100%;
    height: 315vh;
  }

  .Main31 {
    padding-top: 55%;
    width: 95%;
  }

  .Main32 {
    display: flex;
    flex-direction: column;
    gap: 3.875em;
  }

  .Main321 {
    width: 90%;
  }

  .Main321 p {
    width: 35%;
  }

  .Main33 {
    position: absolute;
    margin-top: 185%;
  }

  .Button11 {
    margin-top: 62%;
  }

  .Main34 {
    padding-top: 30%;
  }

  .Main41 {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 4%;
  }

  .Main411 h1 {
    text-align: center;
    font-size: 30px;
  }

  .Main411 p {
    width: 98%;
  }

  .Main51 {
    width: 100%;
  }

  .Main51 h2 {
    width: 45%;
  }

  .Main51 p {
    width: 92%;
  }

  .Main52 h3 {
    width: 50%;
  }

  .Main53 h1 {
    width: 50%;
  }

  .Main53 .Button12 {
    margin-top: 40px;
  }

  .Main6 {
    padding-bottom: 60px;
  }

  .Main611 img {
    position: absolute;
    margin-top: -35%;
    left: 114px;
  }

  .Main612 h1 {
    margin-bottom: 90%;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    width: 85%;
  }

  .Main7 {
    width: 776px;
  }

  .Main71 {
    width: 80%;
    margin-left: 2%;
    height: 155vh;
  }

  .Main711 {
    position: absolute;
    margin-top: 49%;
    margin-left: 35px;
  }

  .Main7111 {
    margin-left: 30px;
  }

  .Main712 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .Main8 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Main8 h2 {
    font-size: 2.5rem;
  }

  .Main81 {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .Main81 img {
    height: fit-content;
    width: 80%;
  }

  .Main9 {
    padding-bottom: 100px;
  }

  .accordion-item {
    width: 760px;
  }

  .accordion-content {
    width: 90%;
  }

  .FooterBox {
    width: 30%;
  }

  .FooterBox img {
    width: 85%;
    height: 6.2vh;
  }
}

@media screen and (max-width: 426px) {
  * {
    margin: 0;
    padding: 0:
  }
  
  #closebtn i {
    font-size: 50px;
  }

  .ExtentedSidebar ul {
    font-size: 54px;
    padding-top: 70px;
  }

  .ExtentedSidebar ul li a {
    font-size: 35px;
  }

  .ExtentedSidebar h2 {
    padding-top: 70px;
    font-size: 45px;
  }

  .Navbtn {
    margin-top: 60px;
    height: 80px;
  }

  .Navbtn a {
    font-size: 40px;
  }

  .Navlogo img {
    width: 100%;
  }

  .NavbarContainer {
    height: 20vh;
  }

  .menutoggle {
    font-size: 45px;
  }

  .Main1 {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .Main1 h1 {
    width: 100%;
    font-size: 60px;
    line-height: 0%;
  }

  .Main1 h4 {
    width: 85%;
    font-size: 33px;
  }

  .Button1 {
    margin-top: 60%;
  }

  .Button1 a {
    font-size: 2.1rem;
  }

  .Main1 span {
    margin-top: -55px;
    font-size: 1.4rem;
  }

  .Main22 {
    width: 90%;
    position: relative;
  }

  .Main2 {
    height: 73vh;
    margin-top: -55px;
  }

  .Main21 {
    width: 95.3%;
  }

  .Main21 span {
    font-size: 22px;
  }

  .Main21 span i {
    font-size: 27px;
  }

  .Main3 {
    height: 430vh;
  }

  .Main31 {
    padding-top: 27%;
  }

  .Main31 img {
    width: 55%;
  }

  .Main31 h1 {
    font-size: 45px;
  }

  .Main32 {
    display: flex;
    flex-direction: column;
    gap: 10.875em;
    width: 88%;
    padding-top: 110px;
  }

  .Main321 {
    width: 90%;
    height: 58vh;
  }

  .Main321 img {
    margin-top: -110px;
    width: 45%;
  }

  .Main321 p {
    width: 74%;
    font-size: 2.125rem;
  }

  .Main33 {
    height: 23vh;
    display: flex;
    margin-top: 0;
    position: relative;
  }

  .Button11 {
    margin-top: 10%;
  }

  .Button11 a {
    font-size: 2.1rem;
  }

  .Main33 span,
  .Main34 span,
  .Main53 span,
  .Main7111 a,
  .Main34 p {
    font-size: 1.4rem;
  }

  .Main34 {
    padding-top: 85px;
  }

  .Main34 img {
    width: 75%;
  }

  .Main411 h1 {
    font-size: 52px;
  }

  .Main411 p,
  .Main411 span {
    font-size: 2.125rem;
  }

  .Main421 {
    width: 100%;
    height: 100vh;
  }

  .Main421 img {
    object-fit: fill;
    width: 100%;
    height: 88vh;
    margin-left: 0;
  }

  .Main51 h2 {
    width: 61%;
    font-size: 4rem;
  }

  .Main51 p {
    width: 92%;
    font-size: 2.25rem;
  }

  .Main53 h1 {
    width: 86%;
  }

  .Button12 a {
    font-size: 2.1rem;
  }

  .Main611 img {
    margin-top: -122%;
  }

  .Main612 h1 {
    width: 85%;
    font-size: 3.9rem;
  }

  .Main612 p {
    font-size: 2.125rem;
  }

  .Main71 {
    width: 80%;
    margin-left: 2%;
    height: 250vh;
  }

  .Main711 {
    margin-top: 160%;
    width: 620px;
    margin-left: 1px;
  }

  .Main711 img {
    object-fit: fill;
    width: 100%;
  }

  .Main7111 {
    margin-left: 0px;
  }

  .Button2 a {
    font-size: 1.8rem;
  }

  .Main7111 span {
    font-size: 20px;
  }

  .Main712 h2 {
    font-size: 2.9rem;
  }

  .Main712 h1 {
    font-size: 4rem;
  }

  .Main712 p,
  .Main712 span {
    font-size: 1.9rem;
  }

  .Main712 ul {
    font-size: 1.6rem;
  }

  .Main9 h1 {
    font-size: 2.9rem;
  }

  .accordion-header {
    font-size: 1.75rem;
  }

  .accordion-content p {
    font-size: 1.8rem;
  }

  .FooterContainer {
    width: 100%;
    height: 63vh;
  }

  .FooterBox {
    width: 80%;
    display: flex;
    align-items: center;
  }

  .FooterBox img {
    width: 100%;
    height: 11.2vh;
  }

  .FooterBox p {
    font-size: 1.8125rem;
    padding-left: 125px;
  }

  #zoom {
    font-size: 1.8125rem;
  }
}

@media screen and (max-width: 376px) {
  .Main611 img {
    margin-top: -135%;
  }

  .Main612 h1 {
    margin-bottom: 75%;
  }

  .Main711 {
    margin-top: 180%;
  }
}

@media screen and (max-width: 320px) {
  .Main611 img {
    margin-top: -160%;
  }

  .Main612 h1 {
    margin-bottom: 75%;
  }

  .Main711 {
    margin-top: 210%;
  }
}
